<template>
  <transition name="actions-headphones2-snowflakes-snowflake" @after-enter="afterEnter">
    <div :class="cls" v-show="show" :style="style"></div>
  </transition>
</template>

<script>
  function getRandomInt (min, max) {
    return Math.floor(Math.random() * (max + 1 - min)) + min
  }

  function getRandom (arr) {
    return arr[getRandomInt(0, arr.length - 1)]
  }

  function getLeft (vm) {
    return vm.i * 174 + getRandomInt(-40, 40) + 'px'
  }

  export default {
    props: ['i'],
    data () {
      return {
        shape: getRandom([1, 2, 3]),
        size: getRandom(['small', 'medium', 'large']),
        speed: getRandom(['slow', 'medium', 'fast']),
        vOffset: getRandomInt(-20, 20),
        show: false,
        containerHeight: 70,
        style: {
          left: getLeft(this),
          opacity: getRandomInt(4, 10) / 10
        }
      }
    },
    computed: {
      cls () {
        const arr = [
          'actions-headphones2-snowflakes-snowflake',
          'actions-headphones2-snowflakes-snowflake-shape-' + this.shape,
          'actions-headphones2-snowflakes-snowflake-size-' + this.size,
          'actions-headphones2-snowflakes-snowflake-speed-' + this.speed
        ]
        return arr.join(' ')
      }
    },
    mounted () {
      this.show = true
    },
    methods: {
      afterEnter () {
        this.show = false
        setTimeout(() => {
          this.shape = getRandom([1, 2, 3])
          this.size = getRandom(['small', 'medium', 'large'])
          this.speed = getRandom(['slow', 'medium', 'fast'])
          this.style.left = getLeft(this)
          this.show = true
        }, getRandomInt(200, 800))
      }
    }
  }
</script>
