<template>
  <a :href="screenshot.href" target="_blank" :class="class_" @animationend="animationend($event)"></a>
</template>

<script>
  export default {
    props: ['screenshot'],
    computed: {
      class_ () {
        let class_ = `landing-index-splash-imac-screen-screenshot landing-index-splash-imac-screen-screenshot-${this.screenshot.name}`
        if (this.screenshot.animation) class_ += ` landing-index-splash-imac-screen-screenshot-${this.screenshot.name}-${this.screenshot.animation}`
        if (this.screenshot.chromefix) class_ += ' landing-index-splash-imac-screen-screenshot-chromefix'
        return class_
      }
    },
    methods: {
      animationend (e) {
        if (e.animationName === `landing-index-splash-imac-screen-screenshot-${this.screenshot.name}-appearance`) {
          this.$emit('endAppearance')
        } else if (e.animationName === `landing-index-splash-imac-screen-screenshot-${this.screenshot.name}-scrolling`) {
          this.$emit('endScrolling')
        } else if (e.animationName === `landing-index-splash-imac-screen-screenshot-${this.screenshot.name}-reducing`) {
          this.$emit('endReducing')
        } else if (e.animationName === `landing-index-splash-imac-screen-screenshot-${this.screenshot.name}-disappearance`) {
          this.$emit('endDisappearance')
        }
      }
    }
  }
</script>
