<template>
  <div>
    <nuxt-link :to="{name: 'index'}">Главная</nuxt-link>
    <div class="actions-headphones2-snowflakes">
      <Snowflake v-for="i in num" :key="i" :i="i"/>
    </div>
  </div>
</template>

<script>
  import Snowflake  from '~/components/example2/Snowflake'

  export default {
    components: {
      Snowflake: Snowflake
    },
    data () {
      return {
        num: this.getNum()
      }
    },
    methods: {
      getNum () {
        return Math.floor((window.innerWidth / 174))
      }
    },
    mounted () {
      window.addEventListener('resize', (e) => {
        this.num = this.getNum()
      })
    }
  }
</script>

<style lang="scss">
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
      transform-origin: right;
    }
    100% {
      transform: rotate(90deg);
      transform-origin: right;
    }
  }
  .actions-headphones2-snowflakes {
    height: 70px;
    background: #333;
    position: relative;
    overflow: hidden;
  }
  .actions-headphones2-snowflakes-snowflake {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }
  .actions-headphones2-snowflakes-snowflake-shape-1 {
    background-image: url(~assets/example2/snowflake1.svg);
  }
  .actions-headphones2-snowflakes-snowflake-shape-2 {
    background-image: url(~assets/example2/snowflake2.svg);
  }
  .actions-headphones2-snowflakes-snowflake-shape-3 {
    background-image: url(~assets/example2/snowflake3.svg);
  }
  .actions-headphones2-snowflakes-snowflake-size-small {
    width: 14px;
    height: 14px;
    top: 84px;
  }
  .actions-headphones2-snowflakes-snowflake-size-medium {
    width: 24px;
    height: 24px;
    top: 94px;
  }
  .actions-headphones2-snowflakes-snowflake-size-large {
    width: 34px;
    height: 34px;
    top: 104px;
  }
  .actions-headphones2-snowflakes-snowflake-size-small.actions-headphones2-snowflakes-snowflake-enter {
    top: -14px;
  }
  .actions-headphones2-snowflakes-snowflake-size-medium.actions-headphones2-snowflakes-snowflake-enter {
    top: -24px;
  }
  .actions-headphones2-snowflakes-snowflake-size-large.actions-headphones2-snowflakes-snowflake-enter {
    top: -34px;
  }
  .actions-headphones2-snowflakes-snowflake-speed-slow.actions-headphones2-snowflakes-snowflake-enter-active {
    transition: all 3s linear;
    animation: rotate 3s linear;
  }
  .actions-headphones2-snowflakes-snowflake-speed-medium.actions-headphones2-snowflakes-snowflake-enter-active {
    transition: all 2s linear;
    animation: rotate 2s linear;
  }
  .actions-headphones2-snowflakes-snowflake-speed-fast.actions-headphones2-snowflakes-snowflake-enter-active {
    transition: all 1s linear;
    animation: rotate 1s linear;
  }
</style>
