<template>
  <div>
    <nuxt-link :to="{name: 'index'}">Главная</nuxt-link>
    <div class="landing-index-splash-imac">
      <div class="landing-index-splash-imac-screen">
        <Screenshot
          @endAppearance="endAppearance(index)"
          @endScrolling="endScrolling(index)"
          @endReducing="endReducing(index)"
          @endDisappearance="endDisappearance(index)"
          :screenshot="screenshot"
          :key="index"
          v-for="(screenshot, index) in screenshots"
          v-show="screenshot.visible"
        />
        <a
          @click.prevent="skip($event)"
          class="landing-index-splash-imac-screen-loader"
          href=""
        ></a>
      </div>
    </div>
  </div>
</template>

<script>
  import Screenshot from '~/components/example1/Screenshot.vue'

  export default {
    data() {
      const k = 1 // for test purposes
      return {
        screenshots: [
          {name: 'perfecto', href: 'http://perfecto.landing.myjino.ru/', visible: true},
          {name: 'fitness', href: 'http://fitness.landing.myjino.ru/'},
          {name: 'eames', href: 'http://eames.landing.myjino.ru/'}
        ],
        activeIndex: 0,
        timeoutId: null,
        delays: {
          scrolling: 1000 * k,
          reducing: 0.6 * 1000 * k,
          disappearance: 0.6 * 1000 * k
        }
      }
    },
    components: {Screenshot},
    mounted() {
      this.$nextTick(() => {
        this.countdown(this.delays.scrolling).then(() => {
          this.setAnimation(this.activeIndex, 'scrolling')
        })
      })
    },
    methods: {
      getNextIndex(index) {
        index += 1
        if (index === this.screenshots.length) index = 0
        return index
      },
      setAnimation(index, animation) {
        this.$set(this.screenshots[index], 'animation', animation)
      },
      setVisible(index, flag) {
        this.$set(this.screenshots[index], 'visible', flag)
      },
      triggerChromeRecalculateBgSize(index) {
        this.$set(this.screenshots[index], 'chromefix', true)
        this.$nextTick(() => {
          this.$set(this.screenshots[index], 'chromefix', false)
        })
      },
      countdown(time) {
        return new Promise((resolve) => {
          if (this.timeoutId) clearTimeout(this.timeoutId)
          this.timeoutId = setTimeout(() => {
            resolve()
          }, time)
        })
      },
      endAppearance(index) {
        this.triggerChromeRecalculateBgSize(index)
        this.countdown(this.delays.scrolling).then(() => {
          this.setAnimation(index, 'scrolling')
        })
      },
      endScrolling(index) {
        this.countdown(this.delays.reducing).then(() => {
          this.setAnimation(index, 'reducing')
        })
      },
      endReducing(index) {
        this.countdown(this.delays.disappearance).then(() => {
          this.setAnimation(index, 'disappearance')
          const nextIndex = this.getNextIndex(index)
          this.setAnimation(nextIndex, 'appearance')
          this.setVisible(nextIndex, true)
        })
      },
      endDisappearance(index) {
        this.setAnimation(index, null)
        this.setVisible(index, false)
        this.activeIndex = this.getNextIndex(this.activeIndex)
      },
      skip(e) {
        e.target.blur()
        this.setAnimation(this.activeIndex, null)
        this.setVisible(this.activeIndex, false)
        const nextIndex = this.getNextIndex(this.activeIndex)
        this.activeIndex = nextIndex
        this.setVisible(nextIndex, true)
        this.countdown(this.delays.scrolling).then(() => {
          this.setAnimation(nextIndex, 'scrolling')
        })
      }
    }
  }
</script>

<style lang="scss">
  @mixin hires {
    @media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      @content
    }
  }

  $landingIndexSplashImacW: 755px;
  $landingIndexSplashImacH: 605px;
  $landingIndexSplashImacScreenW: 700px;
  $landingIndexSplashImacScreenMargin: ($landingIndexSplashImacW - $landingIndexSplashImacScreenW) / 2;
  $landingIndexSplashImacScreenBottomDistance: 157px;
  $landingIndexSplashImacScreenPercentH: percentage(($landingIndexSplashImacH - $landingIndexSplashImacScreenBottomDistance - 2 * $landingIndexSplashImacScreenMargin)/$landingIndexSplashImacH);
  $landingIndexSplashImacScreenH: $landingIndexSplashImacH / 100% * $landingIndexSplashImacScreenPercentH;
  $landingIndexSplashImacScreenshotSpeedK: 1; // for test purposes
  $landingIndexSplashImacScreenScreenshotEnterTempo: 4s/1240px;
  .landing-index-splash-imac {
    height: 605px;
    width: 755px;
    background: url(~assets/example1/imac.png) no-repeat 100%;
    background-size: contain;
    overflow: hidden;
    @include hires {
      background-image: url(~assets/example1/imac@2x.png);
    }
  }

  .landing-index-splash-imac-screen {
    background: #000;
    width: percentage(($landingIndexSplashImacW - 2 * $landingIndexSplashImacScreenMargin)/$landingIndexSplashImacW);
    height: $landingIndexSplashImacScreenPercentH;
    margin: percentage($landingIndexSplashImacScreenMargin/$landingIndexSplashImacW) auto 0;
    overflow: hidden;
    position: relative;
  }

  @keyframes landing-index-splash-imac-screen-loader-rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .landing-index-splash-imac-screen-loader {
    position: absolute;
    width: 36px;
    height: 36px;
    background: url(~assets/example1/loader.png) 50% no-repeat;
    background-size: 16px 16px;
    left: 0;
    top: 0;
    animation-timing-function: linear;
    @include hires {
      background-image: url(~assets/example1/loader@2x.png);
      background-size: 16px 16px;
    }
  }

  .landing-index-splash-imac-screen-screenshot {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    width: 100%;
  }

  .landing-index-splash-imac-screen-screenshot-chromefix {
    background-size: cover;
  }

  @each $name, $h in (perfecto, 2107px), (fitness, 3262px), (eames, 1240px) {
    @keyframes landing-index-splash-imac-screen-screenshot-#{$name}-appearance {
      0% {
        transform: translate3d(0, 0, 0) scale3d(0.7, 0.7, 0.7);
        transform-origin: 50% #{percentage(($landingIndexSplashImacScreenH + 800px)/$h)} 0;
        opacity: 0;
      }
      100% {
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
        transform-origin: 50% #{percentage(($landingIndexSplashImacScreenH + 800px)/$h)} 0;
      }
    }
    @keyframes landing-index-splash-imac-screen-screenshot-#{$name}-scrolling {
      0% {
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
      }
      100% {
        transform: translate3d(0, -100% + percentage($landingIndexSplashImacScreenH/$h), 0) scale3d(1, 1, 1);
      }
    }
    @keyframes landing-index-splash-imac-screen-screenshot-#{$name}-reducing {
      0% {
        transform: translate3d(0, -100% + percentage($landingIndexSplashImacScreenH/$h), 0) scale3d(1, 1, 1);
        transform-origin: 50% #{percentage(($h - $landingIndexSplashImacScreenH/2)/$h)} 0;
      }
      100% {
        transform: translate3d(0, -100% + percentage($landingIndexSplashImacScreenH/$h), 0) scale3d(0.7, 0.7, 0.7);
        transform-origin: 50% #{percentage(($h - $landingIndexSplashImacScreenH/2)/$h)} 0;
      }
    }
    @keyframes landing-index-splash-imac-screen-screenshot-#{$name}-disappearance {
      0% {
        transform: translate3d(0, -100% + percentage($landingIndexSplashImacScreenH/$h), 0) scale3d(0.7, 0.7, 0.7);
        transform-origin: 50% #{percentage(($h - $landingIndexSplashImacScreenH/2)/$h)} 0;
      }
      100% {
        transform: translate3d(0, -100%, 0) scale3d(0.5, 0.5, 0.5);
        transform-origin: 50% #{percentage(($h - $landingIndexSplashImacScreenH/2)/$h)} 0;
        opacity: 0;
      }
    }

    $appearanceDuration: 0.6s*$landingIndexSplashImacScreenshotSpeedK;
    $reducingDuration: 0.25s*$landingIndexSplashImacScreenshotSpeedK;

    .landing-index-splash-imac-screen-screenshot-#{$name} {
      background-image: url('~assets/example1/screenshots/#{$name}.jpg');
      padding-top: percentage($h/$landingIndexSplashImacScreenW);
      @include hires {
        background-image: url('~assets/example1/screenshots/#{$name}@2x.jpg');
      }
    }
    .landing-index-splash-imac-screen-screenshot-#{$name}-appearance {
      animation: landing-index-splash-imac-screen-screenshot-#{$name}-appearance $appearanceDuration ease-in-out both;
    }
    .landing-index-splash-imac-screen-screenshot-#{$name}-scrolling {
      animation: landing-index-splash-imac-screen-screenshot-#{$name}-scrolling round($landingIndexSplashImacScreenScreenshotEnterTempo*$h) ease-in-out forwards;
    }
    .landing-index-splash-imac-screen-screenshot-#{$name}-reducing {
      animation: landing-index-splash-imac-screen-screenshot-#{$name}-reducing $reducingDuration ease-in-out forwards;
    }
    .landing-index-splash-imac-screen-screenshot-#{$name}-disappearance {
      animation: landing-index-splash-imac-screen-screenshot-#{$name}-disappearance $appearanceDuration ease-in-out forwards;
    }

    .landing-index-splash-imac-screen-screenshot-#{$name}-scrolling ~ .landing-index-splash-imac-screen-loader {
      animation-name: landing-index-splash-imac-screen-loader-rotate;
      animation-duration: round($landingIndexSplashImacScreenScreenshotEnterTempo*$h);
    }
  }
</style>
