<template>
  <div>
    <ul>
      <li>
        <a href="example1">Example 1</a>
        <a href="https://landing.jino.ru/">In real life</a>
        <a href="https://gitlab.com/schoonc/code-examples-nuxt/blob/master/pages/example1.vue">Gitlab</a>
      </li>
      <li>
        <a href="example2">Example 2</a>
        <a href="https://jino.ru/actions/headphones2/">In real life</a>
        <a href="https://gitlab.com/schoonc/code-examples-nuxt/blob/master/pages/example2.vue">Gitlab</a>
      </li>
    </ul>
  </div>
</template>
